@font-face {
  font-family: "Average-Regular";
  src: url("../src/assets/font/Average-Regular.ttf") format("truetype");
}

:root {
  --background-main-color: #f1ede6;
  --text-color-main: #2c9720;
  --main-font: "Average-Regular";
}

body {
  background-color: var(--background-main-color);
  color: var(--text-color-main);
  font-family: var(--main-font);
  margin: 0;
  padding: 0;
}
