.randomAvatarContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

.randomAvatarContainer img {
  width: 25%;
}
