.randomAvatarContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
}

.mangaPhrase {
  width: 40%;
}

.randomAvatarContainer > p {
  font-size: 20px;
}

.recommendationTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.randomAvatarContainer .avatarImage {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: var(--text-color-main);
}

.maker {
  background: linear-gradient(transparent 50%, rgba(255, 153, 0, 0.5) 50%);
  display: inline;
}

@media only screen and (min-width: 760px) {
  .randomAvatarContainer .avatarImage {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: var(--text-color-main);
  }
  .mangaPhrase {
    width: 10%;
  }
}
