.welcomContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.welcomContainer img {
  margin-top: 3rem;
  width: 40%;
}

@media only screen and (min-width: 480px) {
  .welcomContainer {
    flex-direction: row;
  }

  .welcomContainer p {
    font-size: 40px;
  }

  .welcomContainer img {
    width: 25%;
  }
}
