.contactTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contactContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.contactSubContainer {
  border: solid;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  padding: 1rem;
  margin: 1rem;
}

.contactImage {
  width: 35%;
  margin: 1rem;
}

.maker {
  background: linear-gradient(transparent 50%, rgba(255, 153, 0, 0.5) 50%);
  display: inline;
}

@media only screen and (min-width: 480px) {
  .contactContainer {
    flex-direction: row;
  }

  .contactTitle {
    flex-direction: row;
  }
}
