.navbarContainer ul {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  /* align-content: center; */
  justify-content: space-around;
  align-items: center;
  /* overflow: hidden; */
  /* position: fixed; */
  /* width: 100%; */
  /* top: 0; */
  background-color: var(--background-main-color);
  border: solid;
  /* padding: 10px; */
  margin: 1rem;
}

.navbarContainer li {
  list-style: none;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}

.navbarContainer a {
  float: left;
  display: block;
}

.navbarContainer a:hover {
  background: #ddd;
  color: rgb(81, 81, 81);
}

.navbarContainer a {
  text-decoration: none;
  color: var(--text-color-main);
}

button.languageButton {
  margin: 10px;
  font-family: var(--main-font);
  border: 1px solid var(--text-color-main);
  border-radius: 5px;
  color: var(--text-color-main);
  font-family: var(--main-font);
}

button.languageButton:hover {
  background-color: rgb(204, 199, 199);
}
